# MDE history
/logs/

# tests
/bats/.bats/run-logs/*

# demos
/examples/hypercard-stack/

# Ruby
/.bundle/
/.yardoc
/_yardoc/
/pkg/
/vendor/

# logs
2024-*
*.cast

/document_configurations/

# debug fixtures
/docs/**/*mini.md
