# MDE history
/logs/

# tests
/bats/.bats/run-logs/*

# demos
/examples/hypercard-stack/

# dev
.tbkp/
/*.gem
/*.patch
/.*key
/assets/.*.key
/coverage/
/doc/
/docs/prompts/
/docs/research/
/lib/dev/
/llm_prompts/
/llm_responses/
/recordings/
/tmp/

# Ruby
/.bundle/
/.yardoc
/_yardoc/
/pkg/
/vendor/

# logs
2024-*
*.cast

/document_configurations/

# debug fixtures
/docs/**/*mini.md
